.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.contenedor {
  padding: 20px; 
  max-width: 400px;
}

label {
    margin-right: 10px;
}

.botonConfirmar {
  background-color: #6d5f53;
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  cursor: pointer;
}

.botonEliminar {
  padding: 0.75rem 1.75rem;
  border-radius: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  cursor: pointer;
  background: red;
  color: white;
}

.botonEliminar:hover {
  background-color: #960909;
}


.botonConfirmar:hover {
  background-color: #5a4a3c;
}

.colorInput {
  color: #202020 !important;
}

.botones {
    display: flex;
    flex-direction: column;
}