.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.background-header {
    background-color: var(--secondary-background);
}
